<main id="root">still in rails</main>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<!-- <script>
      window.images = {
        coplogoURL = "<%= asset_path('coplogo.png') %>",
        aj6URL = "<%= asset_path('homepage-aj6.jpeg') %>"
      }
</script> -->
