#index-show-nav{
    background-color: white;
    border-bottom: rgb(197, 197, 197) solid 1px;
    min-width: 900px;
}

#index-show-page-navbar-contain .navbar-element div a,
#index-show-page-navbar-contain .navbar-account-dropdown{
    color: black;
}

#index-show-page-navbar-contain{
    color: white;
}

#index-show-navbar-logo-search{
    display: flex;
    justify-content: flex-start;
}

#logo-indexshow{
    width: 165px;
}


